<!DOCTYPE html>
<html ng-app="StaggerApp">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>Portfolio</title> 
	<link rel="stylesheet" type="text/css" href="CSS/style.css">
	<link rel="stylesheet" type="text/css" href="CSS/stagger.css">
	<link rel="stylesheet" type="text/css" href="CSS/fadeout.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
</head>
<body>
	<div ng-controller="staggerCtrl as stagger">
		<header ng-controller="slideCtrl as slide">
			<div class="menu-overlay" ng-show="slide.showMenu" ng-click="slide.showMenu = !slide.showMenu"></div>
			<div ng-class="{'show-menu': slide.showMenu}">	
				<div class="menu-wrap">
					<nav class="menu">
						<div class="icon-list">
							<a ng-click="stagger.navigateTo(''); slide.toggleMenu()"><span> Home</span></a>
							<a ng-click="stagger.navigateTo('about-me'); slide.toggleMenu()"><span> About Me</span></a>
						</div>
					</nav>
					<i class="fa fa-times" ng-click="slide.toggleMenu()"></i>
				</div>
				<i class="fa fa-bars" id="open-button" ng-click="slide.toggleMenu()"></i>
			</div>
		</header>
	</div>
	<div ng-view>

	</div>
		
	<div id="footer">
		<div class="message">I hope you liked my work.</div>
		<div class="social">
			<div class="padding"><a href="https://www.linkedin.com/in/alvaro911" target="_blank"><img src="images/social/linkedIn.svg"></a></div>
			<div class="padding"><a href="https://www.behance.net/alvaro911" target="_blank"><img src="images/social/behance.svg"></a></div>
			<div class="padding"><a href="https://github.com/alvaro911" target="_blank"><img src="images/social/github.svg"></a></div>
		</div>
	</div>



	
	<script src="http://code.angularjs.org/1.4.1/angular.js"></script>
	<script src="http://code.angularjs.org/1.4.1/angular-route.js"></script>
    <script src="http://code.angularjs.org/1.4.1/angular-animate.js"></script>
	<script type="text/javascript" src="scripts/stagger.js"></script>
	<script type="text/javascript" src="scripts/slideCtrl.js"></script>
	<script type="text/javascript" src="scripts/classie.js"></script>
	<script type="text/javascript" src="scripts/route.js"></script>
	<script type="text/javascript" src="scripts/about-me.js"></script>
	<script type="text/javascript" src="scripts/parallax.js"></script>
	<!-- <script>
		var scene=document.getElementById('scene');
		console.log('this is the scene', scene);
		var	parallax = new Parallax(scene);
	</script> -->
</body>
</html>