<!-- <section class="cover">
	<img src="../images/cover.jpg">
</section> -->
<parallax></parallax>
<section class="portfolio">
	<section ng-click="stagger.kidMoviesBtn()" class="tile-wrapper programming effect-apollo">
		<img src="images/programming.jpg"> 
		<h2>UI &amp; Web Development</h2>
	</section>
		
	<section ng-click="stagger.actionMoviesBtn()" class="tile-wrapper design effect-apollo">
		<img src="images/gd.jpg">
		<h2>Graphic Design</h2>
	</section>
</section>
<div id="holder">		
	<div id="container">
		<div ng-show="stagger.titleBar" class="title-bar">
			<h1>{{stagger.currentPortfolio.title}}</h1>
		</div>
		<div ng-repeat="movie in stagger.movies" class="wrapper">
			<div class="wrapper-cont">
				<img src="{{movie.moviePic}}" ng-click="stagger.popUpBtn(movie)" />
				<div class="text-wrapper">
					<h3 ng-click="stagger.popUpBtn(movie)">{{movie.movieTitle}}</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<pop-up ng-show="stagger.viewable"></pop-up>
