body,html, h1, h2, h3, h4, p, .wrapper, #container, .text-wrapper, .black-screen{
	padding: 0;
	margin: 0;
}

#container{
	clear: both;
	position: relative;
	margin: 20px 0;
	width: 100%;
}

.title-bar{
	width:100% !important;
	height: 80px !important;
	background-color: white !important;
	border-bottom:1px solid black !important;
}

.titble-bar h1{
	font-size: 3em;
	text-align: center;
}

.wrapper{
	width: 202px;
	height: 262px;
	float: left;
	margin: 30px 20px 40px 80px;
	background-color: #E5E5E5;
}

.text-wrapper{
	padding: 5px;
}

.text-wrapper h3{
	font-family: sans-serif;
	color: #346BFF;
	font-size: 0.9em;
	margin-bottom: 15px;
}

.text-wrapper p{
	font-family: sans-serif;
	color: #6C6C6C;
	font-size: .7em;
	font-weight: 100;
}



/*The animation*/

.wrapper.ng-enter{
	-webkit-transition:all linear 0.5s;
	transition:all linear 0.5s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.wrapper.ng-enter-stagger{
	-webkit-transition-delay:300ms;	
  transition-delay:300ms;
}

.wrapper.ng-enter-active{
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}


.wrapper.ng-leave{
	-webkit-transition:all ease 0.1s;
	transition:all ease 0.1s;
	opacity: 1;
}

.wrapper.ng-leave-active{
	opacity: 0;
}

.black-screen{
	width: 100%;
	height: 100%;
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0;
}

.black-screen .artwork-container{
	background-color: #2a2a2a;
	width: 80%;
	height: auto;
	margin: 10px auto;
	z-index: 999999;
	position: relative;
}

.black-screen .artwork-container .title-cont{
	width: 100%;
	height:80px;
	background-color: #FAFAFA;
	padding-top: 20px;
}

.black-screen .artwork-container h2{
	font-family: sans-serif;
	color: #2a2a2a;
	font-size: 1.5em;
	margin: 10px;
}

.black-screen .artwork-container h5{
	font:.6em sans-serif;
	margin: 10px;
	display: inline-block;
}

.black-screen .artwork-container img{
	width:100%;
	margin: 0;
	display: block;
}

.black-screen .artwork-container iframe{
	width: 88%;
	height: 506px;
	background-color: #282828;
	padding: 20px 6%;
	margin-right: 0 auto;
	display: block;
}

.black-screen .artwork-container .footer-cont{
	width: 100%;
	height: 50px;
	background-color: #FAFAFA;
}

.black-screen .overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display:block;
	background-color: rgba(0,0,0,.95);
}

.fade-in-out {
  transition: 1s linear all;  
  opacity: 1;
}

.fade-in-out.ng-hide {
  opacity: 0;
}





























