body,html, h1, h2, h3, h4, p, .wrapper, #container, .text-wrapper, .black-screen{
	padding: 0;
	margin: 0;
}

#container{
	clear: both;
	position: relative;
	margin: 20px 0;
	width: 100%;
}

.title-bar{
	width:100% !important;
	height: 80px !important;
	background-color: white !important;
	border-bottom:1px solid black !important;
}

.title-bar h1{
	margin-top: 20px;
	font-size: 3em;
	text-align: center;
	font-family: 'Fira Sans';
	text-transform: uppercase;
	color: #30302B;
}

.wrapper img{
	cursor: pointer;
}

.wrapper{
	width: 202px;
	height: 262px;
	float: left;
	margin: 30px 20px 40px 80px;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-bottom: 5px;
	background-color: #E5E5E5;
	-webkit-transition: all .25s linear;
	-mz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	transition: all .25s linear;
}

.wrapper:hover{
	-webkit-box-shadow: 0 0 10px black;
	-mz-box-shadow: 0 0 10px black;
	-ms-box-shadow: 0 0 10px black;
	box-shadow: 0 0 10px black;
}

.text-wrapper{
	padding: 5px;
}

.text-wrapper h3{
	font-family: sans-serif;
	color: #346BFF;
	font-size: 0.9em;
	margin-bottom: 15px;
	cursor: pointer;
}

.text-wrapper p{
	padding-bottom: 5px;
	font-family: sans-serif;
	color: #6C6C6C;
	font-size: .7em;
	font-weight: 100;
}



/*The animation*/

.wrapper.ng-enter{
	-webkit-transition:0.5 linear all;
	-moz-transition:0.5 linear all;
	-ms-transition:0.5 linear all;
	transition:0.5 linear all;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.wrapper.ng-enter-stagger{
	-webkit-transition-delay:300ms;	
	-moz-transition-delay:300ms;
	-ms-transition-delay:300ms;
  	transition-delay:300ms;
  	-webkit-transition-duration:0;
  	-moz-transition-duration:0;
  	-ms-transition-duration:0;
  	transition-duration:0;
}

.wrapper.ng-enter-active{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}


.wrapper.ng-leave{
	-webkit-transition:all ease 0.25s;
	-moz-transition:all ease 0.25s;
	-ms-transition:all ease 0.25s;
	transition:all ease 0.25s;
	opacity: 1;
}

.wrapper.ng-leave-stagger{
	-webkit-transition-delay:1s;
	transition-delay:1s;
}

.wrapper.ng-leave-active{
	opacity: 0;
}

.black-screen{
	width: 100%;
	height: 100%;
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0;
}

.black-screen .artwork-container{
	background-color: #2a2a2a;
	width: 80%;
	height: auto;
	margin: 10px auto;
	z-index: 999999;
	position: relative;
}

.black-screen .artwork-container .title-cont{
	width: 100%;
	height:100px;
	background-color: #FAFAFA;
}

.black-screen .artwork-container h2{
	font-family: sans-serif;
	color: #2a2a2a;
	font-size: 1.5em;
	margin: 10px;
}

.black-screen .artwork-container p{
	font-family: sans-serif;
	color:#2a2a2a;
	font-size: .8em;
	margin:10px;
}

.black-screen .artwork-container h5{
	font:.6em sans-serif;
	margin: 10px;
	display: inline-block;
}

.black-screen .artwork-container img{
	width:100%;
	margin: 0;
	display: block;
}

.black-screen .artwork-container iframe{
	width: 88%;
	height: 506px;
	background-color: #282828;
	padding: 20px 6%;
	margin-right: 0 auto;
	display: block;
}

.black-screen .artwork-container .footer-cont{
	width: 100%;
	height: 50px;
	background-color: #FAFAFA;
}

.black-screen .overlay{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display:block;
	background-color: rgba(0,0,0,.95);
}

.fade-in-out {
	-webkit-transition: 1s linear all;  
	-moz-transition: 1s linear all;  
	-ms-transition: 1s linear all;  
  transition: 1s linear all;  
  opacity: 1;
}

.fade-in-out.ng-hide {
  opacity: 0;
}





























